{% extends 'base.html' %}
{% load static %}

{% block content %}


<div class="product_image_area">
    <div class="container">
        <h1 class="">Shoes Details</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="">Home</a></li>
              <li class="breadcrumb-item"><a href="">{{single_product.category.category_name}}</a></li>
              <li class="breadcrumb-item active" aria-current="page"><a href="">{{single_product.product_name}}</a></li>
            </ol>
          </nav>
        <div class="row s_product_inner">
            <div class="col-lg-6">
                <div class="s_Product_carousel">
                    <div class="single-prd-item">
                        <img class="img-fluid" src="{{single_product.images.url}}" alt="">
                    </div>
                    
                </div>
            </div>
            <div class="col-lg-5 offset-lg-1">
                <form action="{% url 'add_cart' single_product.id %}" method="POST">
                    {% csrf_token %}
                    <div class="s_product_text">
                        <h3>{{single_product.product_name}}</h3>
                        <h2>${{single_product.price}}</h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Category</span> : {{single_product.category.category_name}}</a></li>
                            <li><a href="#"><span>Availibility</span> : In Stock</a></li>
                        </ul>
                        <p>{{single_product.product_description}}</p>
                        <div class="product_count">
                            <label for="qty">Size:</label>
                            <select name="size" class="form-control" id="">
                                <option value=""disabled selected>Select</option>
                                {% for i in single_product.variation_set.sizes %}
                                <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                {% endfor %}
                            </select>
                            <label for="qty">Color:</label>
                            <select name="color" class="form-control" id="">
                                <option value=""disabled selected>Select</option>
                                {% for i in single_product.variation_set.colors %}
                                <option value="{{i.variation_value | lower}}">{{i.variation_value | capfirst}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <button class="icon_btn" type="submit"><i class="fas fa-plus"></i></button>
                            
                            <!-- <a class="icon_btn" href="#"><i class="fas fa-heart"></i></a> -->
                        </div>
                    </div>
                </form>
                </div>
          
            

        </div>
    </div>
</div>

{% endblock %}